<!DOCTYPE html>
<html>
  <head>
    <title>RspecExample1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <% if current_user %>
      <%= link_to 'トップ', root_path %>
      <%= button_to 'ログアウト', logout_path, method: :delete %>
    <% end %>
    <%= yield %>
  </body>
</html>
